<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="EntityFramework.zh-Hant" version="6.2.0" targetFramework="net48" />
  <package id="Guna.UI2.WinForms" version="2.0.4" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="95.25.4.111" targetFramework="net48" />
</packages>